{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}

    <!-- Top image for every page -->
    <section>
    <div class="hero-wrap top_image" style="background-image: url('{% static "mainapp/images/E.jpg" %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'homepage' %}">Home</a></span> <span>Service</span></p>
	            <h1 class="mb-4 bread">Our list of amenities</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
      </section>

    <!-- Introduction of the section -->
    <section class="ftco-section ftc-no-pb ftc-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 img-3 d-flex justify-content-center align-items-center" style="background-image: url('{% static "mainapp/images/2.jpeg" %}');">
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section heading-section-wo-line pt-md-4 mb-5">
	          	<div class="ml-md-0">
		          	<span class="subheading">Our services</span>
		            <h2 class="mb-4">Satisfy your desires</h2>
	            </div>
	          </div>
	          <div class="pb-md-4">
							<p>The purpose of MyHotel is to provide the most tailored experience as possibile,
                                for this reason a guest can choose his services among different categories</p>
							<p >The categories are divided in four groups: Technology, Comfort, Beauty and food&Drinks.
                                Each category has also fixed discounted pack in which you can find convenient prices for amenities correlated.
                                Instead of picking each of them individually, have a look at the packs</p>
							<p>In this way everyone will be able to choose only the services needed and avoid useless expenditures.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

    <!-- Services provided with icon above -->
    <section class="ftco-section-services">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<i class="flaticon-screen service-icon"></i>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Technology</h3>
                <p>From TVs to Consoles: all the necessary for a fun experience</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<i class="flaticon-chair service-icon"></i>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Comfort</h3>
                <p>Everything you need to relax. Here are included extra pillows and cleaning services</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<i class="flaticon-minibar service-icon"></i>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Food&Drinks</h3>
                <p>Feeling hungry? Choose between our snacks or mini-bar service</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<i class="flaticon-spa service-icon"></i>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Beauty</h3>
                <p>If youself is a priority, here you can find the essential services for your self care</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        <!-- Services available and price -->
    <section class="ftco-sections bg-light">
    	<div class="container">
                 <!-- Section heading -->
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section room-dash text-center ftco-animate">
                     <h2 class="mb-4">Our Services</h2>
                </div>
            </div>
            <!-- White container Section  -->
            <!-- Third row  (discounted packs)  -->
            <div class="row ">
    			<div class="col-sm col-md-12 col-lg-12 ftco-animate">
    				<div class="service_box">
    					<div class=" white_service">
                            <div class="pricing-entry img d-flex ftco-animate">
                                <div class="img img_services" style="background-image: url('{% static "mainapp/images/piggy.jpg" %}');"></div>
                                <div class="desc text service_padding">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Discounted packs</span></h3>
                                        <span class="price ">£/Night</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block">

                                <span class="discounted_title">Technology packs</span>
                               <ul class="service_list_reservation">
                                    <li>Full Technology pack (All included) <span class="service_price_reservation ">£13.00<input class="checkbox_service" value="13" onclick="" type="checkbox"></span></li>
                                    <li>Audio pack (Laptop,Speakers) <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" onclick="" type="checkbox"></span></li>
                                    <li>Movie pack (Tv, Streaming service) <span class="service_price_reservation ">£4.00<input class="checkbox_service" value="4" onclick="" type="checkbox"></span></li>
                                    <li>IT pack (Laptop,Tablet) <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" type="checkbox"></span></li>
                                    <li>Traveller pack (Local Sim, Adapters) <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" type="checkbox"></span></li>

                                </ul>
                                <span class="discounted_title">Comfort packs</span>
                             <ul class="service_list_reservation">
                                    <li>Extra Comfort (All Comfort extras included) <span class="service_price_reservation ">£10.00<input class="checkbox_service" value="10" onclick="" type="checkbox"></span></li>
                                    <li>Sleep Well (Extra pillow, Comfort duvet)<span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" onclick="" type="checkbox"></span></li>
                                    <li>Clean holiday ( Laundry, Daily cleaning)<span class="service_price_reservation ">£6.00<input class="checkbox_service" value="6" onclick="" type="checkbox"></span></li>
                                </ul>
                                <span class="discounted_title">Food&Drinks packs</span>
                                <ul class="service_list_reservation">
                                    <li>Party park ( Minibar, Appetizer, Champagne) <span class="service_price_reservation ">£20.00<input class="checkbox_service" value="20" onclick="" type="checkbox"></span></li>
                                    <li>Early time pack ( Room breakfast, coffe machine)<span class="service_price_reservation ">£11.00<input class="checkbox_service" value="11" onclick="" type="checkbox"></span></li>
                                </ul>
                                <span class="discounted_title">Selfcare packs</span>
                               <ul class="service_list_reservation">
                                    <li>Basic cleaning (Shower gel, toothbursh/paste) <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Shower pack (Shower gel, Conditioner, Bathrobe)<span class="service_price_reservation ">£4.00<input class="checkbox_service" value="4" onclick="" type="checkbox"></span></li>
                                </ul>
	        			    </div>
    					</div>
    				</div>
    			</div>

    		</div>
            <!-- First row (Technology and Comfort) -->
    		<div class="row service_boxes">
    			<div class="col-sm col-md-6 col-lg-6 ftco-animate">
    				<div class="service_box">
    					<div class=" white_service">
                            <!-- Technology -->
                            <div class="pricing-entry img d-flex ftco-animate">
                                <div class="img img_services" style="background-image: url('{% static "mainapp/images/tvdesk.png" %}');"></div>
                                <div class="desc text service_padding">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Technology amenities</span></h3>
                                        <span class="price ">£/Night</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block single">
                                <ul class="service_list_reservation">
                                    <li>Tv <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" onclick="" type="checkbox"></span></li>
                                    <li>Laptop <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Streaming service <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Console <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" type="checkbox"></span></li>
                                    <li>Speakers<span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" type="checkbox"></span></li>
                                    <li>Tablet<span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Local sim <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" type="checkbox"></span></li>
                                    <li>Adapters<span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" type="checkbox"></span></li>

                                </ul>

	        			    </div>
    					</div>
    				</div>
    			</div>
                <div class="col-sm col-md-6 col-lg-6 ftco-animate">
    				<div class="service_box">
    					<div class=" white_service">
                            <!-- Comfort -->
                            <div class="pricing-entry img d-flex ftco-animate">
                                <div class="img img_services" style="background-image: url('{% static "mainapp/images/3.jpeg" %}');"></div>
                                <div class="desc text service_padding">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Comfort amenities</span></h3>
                                        <span class="price ">£/Night</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block">
                               <ul class="service_list_reservation">
                                    <li>Extra pillow <span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" onclick="" type="checkbox"></span></li>
                                    <li>Daily cleaning <span class="service_price_reservation ">£5.00<input class="checkbox_service" value="5" onclick="" type="checkbox"></span></li>
                                    <li>Laundry <span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" onclick="" type="checkbox"></span></li>
                                    <li>InRoom newspaper <span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" type="checkbox"></span></li>
                                    <li>Luggage storage <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" type="checkbox"></span></li>
                                   <li>Extra comfort duvet <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" type="checkbox"></span></li>

                                </ul>
	        			    </div>
    					</div>
    				</div>
    			</div>
    		</div>

            <!-- Second row (Food&Drinks and Beauty) -->
            <div class="row ">
    			<div class="col-sm col-md-6 col-lg-6 ftco-animate">
    				<div class="service_box">
    					<div class=" white_service">
                            <div class="pricing-entry img d-flex ftco-animate">
                                <div class="img img_services" style="background-image: url('{% static "mainapp/images/food.jpeg" %}');"></div>
                                <div class="desc text service_padding">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Food&Beverage</span></h3>
                                        <span class="price ">£/Night</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block">
                               <ul class="service_list_reservation">
                                    <li>MiniBar <span class="service_price_reservation ">£5.00<input class="checkbox_service" value="5" onclick="" type="checkbox"></span></li>
                                    <li>Room Breakfast <span class="service_price_reservation ">£10.00<input class="checkbox_service" value="10" onclick="" type="checkbox"></span></li>
                                    <li>Morning breakfast <span class="service_price_reservation ">£5.00<input class="checkbox_service" value="5" onclick="" type="checkbox"></span></li>
                                    <li>Coffe Machine <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" type="checkbox"></span></li>
                                    <li>Appetizer <span class="service_price_reservation ">£7.00<input class="checkbox_service" value="7" type="checkbox"></span></li>
                                   <li>Champagne <span class="service_price_reservation ">£10.00<input class="checkbox_service" value="10" type="checkbox"></span></li>

                                </ul>
	        			    </div>
    					</div>
    				</div>
    			</div>
                <div class="col-sm col-md-6 col-lg-6 ftco-animate">
    				<div class="service_box">
    					<div class=" white_service">
                            <div class="pricing-entry img d-flex ftco-animate">
                                <div class="img img_services" style="background-image: url('{% static "mainapp/images/cosmetics.jpeg" %}');"></div>
                                <div class="desc text service_padding">
                                    <div class="d-flex text align-items-center">
                                        <h3><span>Beauty amenities</span></h3>
                                        <span class="price ">£/Night</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block">
                            <ul class="service_list_reservation">
                                    <li>Conditioner <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Shower gel <span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" onclick="" type="checkbox"></span></li>
                                    <li>Gel <span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" onclick="" type="checkbox"></span></li>
                                    <li>Bathrobe <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Beauty masks <span class="service_price_reservation ">£2.00<input class="checkbox_service" value="2" onclick="" type="checkbox"></span></li>
                                    <li>Hair straighteners <span class="service_price_reservation ">£3.00<input class="checkbox_service" value="3" type="checkbox"></span></li>
                                    <li>Toothbrush/Paste <span class="service_price_reservation ">£1.00<input class="checkbox_service" value="1" type="checkbox"></span></li>

                                </ul>
	        			    </div>
    					</div>
    				</div>
    			</div>
    		</div>

    	</div>
    </section>

{% endblock %}